@model ShangYi.Models.DocumentModel

@{
    ViewData["Title"] = "Details";
}

<h2>详细信息</h2>

<div>
    <h4>文件</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            索引
            @*@Html.DisplayNameFor(model => model.Index)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt>
            标题
            @*@Html.DisplayNameFor(model => model.Title)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            内容
            @*@Html.DisplayNameFor(model => model.Content)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            附件
            @*@Html.DisplayNameFor(model => model.Attachment)*@
        </dt>
        <dd>
            <a asp-action="DownloadAttachment" asp-route-id="@Model.id">下载</a>
        </dd>

        <dt>
            上传时间
            @*@Html.DisplayNameFor(model => model.TimeStamp)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt>
            用户ID
            @*@Html.DisplayNameFor(model => model.UID)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>
        <dt>
            上传者
            @*@Html.DisplayNameFor(model => model.Uploader)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uploader)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">编辑</a> |
    <a asp-action="Index">返回</a>
</div>
