@model IEnumerable<ShangYi.Models.DocumentModel>

@{
    ViewData["Title"] = "Index";
}

<h2>文件分享</h2>

<p>
    <a asp-action="Create">创建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Index)*@
                索引
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                标题
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Content)*@
                内容
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Attachment)*@
                附件
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TimeStamp)*@
                上传时间
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UID)*@
                用户ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Uploader)*@
                上传者
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @{  var content = item.Content.Substring (0, Math.Min (item.Content.Length, 10)) + "...";
            }
            <td>
                <a asp-action="DownloadAttachment" asp-route-id="@item.id">下载</a>
            </td>
            <td>
                @content
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uploader)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.id">查看详情</a> |
                <a asp-action="Delete" asp-route-id="@item.id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
