@model ShangYi.Models.HiringModel

@{
    ViewData["Title"] = "Details";
}

<h2>详细信息</h2>

<div>
    <h4>招聘信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            职位
            @*@Html.DisplayNameFor(model => model.Position)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            薪水
            @*@Html.DisplayNameFor(model => model.Salary)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            详情
            @*@Html.DisplayNameFor(model => model.Details)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt>
            地理位置
            @*@Html.DisplayNameFor(model => model.Location)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            联系电话
            @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            发布时间
            @*@Html.DisplayNameFor(model => model.TimeStamp)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt>
            用户ID
            @*@Html.DisplayNameFor(model => model.UID)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">编辑</a> |
    <a asp-action="Index">返回</a>
</div>
