@model IEnumerable<ShangYi.Models.HiringModel>

@{
    ViewData["Title"] = "Index";
}

<h2>招聘信息</h2>

<p>
    <a asp-action="Create">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Position)*@
                职位
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Salary)*@
                薪水
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Details)*@
                详情
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Location)*@
                地理位置
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                联系电话
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TimeStamp)*@
                发布时间
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UID)*@
                用户ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.id">查看详情</a> |
                <a asp-action="Delete" asp-route-id="@item.id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
