@model IEnumerable<ShangYi.Models.PhoneNumberModel>

@{
    ViewData["Title"] = "Index";
}

<h2>个人办公电话</h2>

<p>
    <a asp-action="Create">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Department)*@
                部门
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                姓名
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Number)*@
                联系电话
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.ID">查看详情</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
