@model IEnumerable<ShangYi.Models.CarPoolingModel>

@{
    ViewData["Title"] = "Index";
}

<h2>拼车信息</h2>

<p>
    <a asp-action="Create">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                出发地
                @*@Html.DisplayNameFor(model => model.From)*@
            </th>
            <th>
                目的地
                @*@Html.DisplayNameFor(model => model.To)*@
            </th>
            <th>
                姓名
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>
                联系电话
                @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
            </th>
            <th>
                出发时间
                @*@Html.DisplayNameFor(model => model.Time)*@
            </th>
            <th>
                发布时间
                @*@Html.DisplayNameFor(model => model.TimeStamp)*@
            </th>
            <th>
                用户ID
                @*@Html.DisplayNameFor(model => model.UID)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.id">查看详情</a> |
                <a asp-action="Delete" asp-route-id="@item.id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
