@model IEnumerable<ShangYi.Models.NotificationModel>

@{
    ViewData["Title"] = "Index";
}

<h2>公告</h2>

<p>
    <a asp-action="Create">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                标题
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.content)*@
                内容
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.UID)*@
                用户ID
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Uploader)*@
                上传者
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                联系电话
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TimeStamp)*@
                发布时间
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uploader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.id">查看详情</a> |
                <a asp-action="Delete" asp-route-id="@item.id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
